<footer class="footer" data-background-color="black">
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="#creative">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#creative">
                        Tricks
                    </a>
                </li>
                <li>
                    <a href="#creative">
                        Sign in
                    </a>
                </li>
                <li>
                    <a href="#creative">
                        Sign up
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>&nbsp;&nbsp;<span>HRVB</span>
        </div>
    </div>
</footer>
