<footer class="footer" data-background-color="black">
    <div class="container-fluid d-flex justify-content-between">

        <div class="copyright ml-5">
            &copy;
            <span>HRVB</span>
            <script>
                document.write(new Date().getFullYear())
            </script>&nbsp;&nbsp;
            {#<a href="" class="text-capitalize nav-link"><i class="fas fa-gavel"></i>&nbsp;&nbsp;mentions légales&nbsp;&nbsp;</a>#}
        </div>
    </div>
</footer>
