{% extends 'base.html.twig' %}

{% block meta_description %}
    <meta name="description" content="Snowtricks est un site communautaire ayant pour thème le snowboard">
{% endblock %}

{% block title %}
    <title>Accueil</title>
{% endblock %}

{% block body %}

    <div class="container my-5">
        <h1 style="color: #5ce2ff;">Hello Symfony ! <br>Welcome to home page</h1>
    </div>

{% endblock %}
